div#fondo{
	background-color:  gainsboro;
	width: 1700px;
	height: 3000px;
	margin: auto ; <!---->
}
div#barraup{
	background-color:  black;
	width: 1700px;
	height: 150px;
	margin: auto ; <!---->
}
img#logo{
	width: 150px;
	margin: 1px 0px 1px 1px;
}
table#inicio{
	width: 250px;
	height: 40px;
	color: white;
	margin: -100px 1300px 0px 200px;
}
table#menu{
	width: 250px;
	height: 40px;
	color: white;
	margin: -40px 0px 0px 450px;
}

table#galeria{
	width: 250px;
	height: 40px;
	color: white;
	margin: -40px 0px 0px 700px;
}
table#promociones{
	width: 250px;
	height: 40px;
	color: white;
	margin: -40px 0px 0px 950px;
}
table#acerca{
	width: 250px;
	height: 40px;
	color: white;
	margin: -40px 0px 0px 1200px;
}
a#menu{
	text-decoration: none;
	color: #fe502d;
	font-size: 25px;
	font-family: monospace;
}
a{
	text-decoration: none;
	color: #b4aead;
	font-size: 25px;
	font-family: monospace;
}
a:hover{
	color: #fe502d;
}

table#contactanos{
	width: 250;
	height: 40px;
	background-color: black;
	margin: -40px 0px 0px 1450px;
}
table#contactanos:hover{
	width: 250;
	height: 40px;
	background-color: #fe502d;
	margin: -40px 0px 0px 1450px;
	border-radius: 10px 10px 10px 10px;
}
a#con:hover{
	color: white;
}
div#fondo2{
	background-color: whitesmoke;
	width: 1690px;
	height: 3000px;
	margin: auto ; <!---->
}
h1#titulo{
	font-size: 25px;
	font-style: oblique;
	color: #fe502d;
	margin-left: 720px;
}
div#menucarne{
	height: 620px;
	width: 1690px;
	margin: 0px 5px 0px 5px;
}
table#arrachera{
	width: 367;
	height: 200px;
	margin: 50px 0px 0px 50px;
}
img#carne{
	height: 200px;
	width: 348px;

}
table#mignon{
	width: 367;
	height: 200px;
	margin: -294px 0px 0px 457px;
}
table#chuleton{
	width: 367;
	height: 200px;
	margin: -308px 0px 0px 864px;
}
table#solomillo{
	width: 367;
	height: 200px;
	margin: -308px 0px 0px 1271px;
}
table#newyork{
	width: 367;
	height: 200px;
	margin: 0px 0px 0px 50px;
}
table#porterhouse{
	width: 367;
	height: 200px;
	margin: -308px 0px 0px 457px;
}
table#filete{
	width: 367;
	height: 200px;
	margin: -308px 0px 0px 864px;
}
table#tbone{
	width: 367;
	height: 200px;
	margin: -308px 0px 0px 1271px;
}
h2{
	margin: 0px 100px 0px 100px;
}
p{

}







div#pie{
	background-color: black;
	width: 1690px;
	height: 190px;
	margin: 50px 5px 0px 5px;
}
table#primera{
	height: 190px;
	width: 563px;
}
table#segunda{
	height: 190px;
	width: 563px;
	margin: -190px 0px 0px 563px;
}
table#tercera{
	height: 190px;
	width: 563px;
	margin: -190px 0px 0px 1126px
}
p#t1{
	font-size: 15px;
	color: #fe502d;
	margin: 5px 0px 0px 0px;
}
p#t2{
	font-size: 15px;
	color: #b4aead;
}
p#tt{
	font-size: 25px;
	color: #b4aead;
	margin-top: 0px;
	margin-bottom: 5px;
}
