div#fondo{
	background-color:  gainsboro;
	width: 1700px;
	height: 3000px;
	margin: auto ; <!---->
}
div#barraup{
	background-color:  black;
	width: 1700px;
	height: 150px;
	margin: auto ; <!---->
}
img#logo{
	width: 150px;
	margin: 1px 0px 1px 1px;
}
table#inicio{
	width: 250px;
	height: 40px;
	color: white;
	margin: -100px 1300px 0px 300px;
}
table#menu{
	width: 250px;
	height: 40px;
	color: white;
	margin: -40px 0px 0px 550px;
}
table#galeria{
	width: 250px;
	height: 40px;
	color: white;
	margin: -40px 0px 0px 800px;
}
table#promociones{
	width: 250px;
	height: 40px;
	color: white;
	margin: -40px 0px 0px 1050px;
}

a{
	text-decoration: none;
	color: #b4aead;
	font-size: 25px;
	font-family: monospace;
}
a#pro{
	text-decoration: none;
	color: #fe502d;
	font-size: 25px;
	font-family: monospace;
}
a:hover{
	color: #fe502d;
}

table#contactanos{
	width: 250;
	height: 40px;
	background-color: black;
	margin: -40px 0px 0px 1450px;
}
table#contactanos:hover{
	width: 250;
	height: 40px;
	background-color: #fe502d;
	margin: -40px 0px 0px 1450px;
	border-radius: 10px 10px 10px 10px;
}
a#con:hover{
	color: white;
}
div#fondo2{
	background-color: whitesmoke;
	width: 1690px;
	height: 3000px;
	margin: auto ; <!---->
}



div#pie{
	background-color: black;
	width: 1690px;
	height: 190px;
	margin: 10px 5px 0px 5px;
}
table#primera{
	height: 190px;
	width: 563px;
}
table#segunda{
	height: 190px;
	width: 563px;
	margin: -190px 0px 0px 563px;
}
table#tercera{
	height: 190px;
	width: 563px;
	margin: -190px 0px 0px 1126px
}
p#t1{
	text-align: left;
	font-size: 15px;
	color: #fe502d;
	margin: 5px 0px 0px 0px;
}
p#t2{
	text-align: left;
	font-size: 15px;
	color: #b4aead;
}
p#tt{
	text-align: left;
	font-size: 25px;
	color: #b4aead;
	margin-top: 0px;
	margin-bottom: 5px;
}