div#fondo{
	background-color:  gainsboro;
	width: 1700px;
	height: 1700px;
	margin: auto ; <!---->
}
div#barraup{
	background-color:  black;
	width: 1700px;
	height: 150px;
	margin: auto ; <!---->
}
img#logo{
	width: 150px;
	margin: 1px 0px 1px 1px;
}
table#inicio{
	width: 250px;
	height: 40px;
	color: white;
	margin: -100px 1300px 0px 300px;
}
table#menu{
	width: 250px;
	height: 40px;
	color: white;
	margin: -40px 0px 0px 550px;
}
table#galeria{
	width: 250px;
	height: 40px;
	color: white;
	margin: -40px 0px 0px 800px;
}
table#promociones{
	width: 250px;
	height: 40px;
	color: white;
	margin: -40px 0px 0px 1050px;
}

a{
	text-decoration: none;
	color: #b4aead;
	font-size: 25px;
	font-family: monospace;
}
a:hover{
	color: #fe502d;
}
a#gal{
	text-decoration: none;
	color: #fe502d;
	font-size: 25px;
	font-family: monospace;
}
table#contactanos{
	width: 250;
	height: 40px;
	background-color: black;
	margin: -40px 0px 0px 1450px;
}
table#contactanos:hover{
	width: 250;
	height: 40px;
	background-color: #fe502d;
	margin: -40px 0px 0px 1450px;
	border-radius: 10px 10px 10px 10px;
}
a#con:hover{
	color: white;
}
div#fondo2{
	text-align: center;
	font-size: 30px;
	color: #fe502d;
	background-color: whitesmoke;
	width: 1690px;
	height: 1400px;
	margin: auto ; <!---->
}
div#tab{
	background-color: gainsboro;
	width: 1690px;
	height: 200;
	margin-top: 40px;

}
table#galeria2{
	color: black;
	font-size: 25px;
	width: 1590px;
	height: 180px;
	margin-left: 50px;
	margin-right: 50px;
}

img#gale{
	width: 357px;
	height: 210px;
	margin-top: 20px;
	margin-bottom: 20px;
}
img#gale2{
	width: 357px;
	height: 357px;
	margin-top: 20px;
	margin-bottom: 20px;
}
img#gale3{
	height: 250px;
	width: 357px;
	margin-top: 20px;
	margin-bottom: 20px;
}
p{
	color: black;
	font-size: 25px;
	font-style: oblique;
	font-weight: lighter;
	font-display: fallback;
	text-align: center;
}

div#pie{
	background-color: black;
	width: 1690px;
	height: 190px;
	margin: 10px 5px 0px 5px;
}
table#primera{
	height: 190px;
	width: 563px;
}
table#segunda{
	height: 190px;
	width: 563px;
	margin: -190px 0px 0px 563px;
}
table#tercera{
	height: 190px;
	width: 563px;
	margin: -190px 0px 0px 1126px
}
p#t1{
	text-align: left;
	font-size: 15px;
	color: #fe502d;
	margin: 5px 0px 0px 0px;
}
p#t2{
	text-align: left;
	font-size: 15px;
	color: #b4aead;
}
p#tt{
	text-align: left;
	font-size: 25px;
	color: #b4aead;
	margin-top: 0px;
	margin-bottom: 5px;
}